.package-history-view {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;

  .package-history-header {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid black;
  }

  .package-history-content {
    width: 100%;
    display: flex;
    height: calc(100vh - 64px);
    flex-direction: row;

    .package-history-panel {
      display: flex;
      overflow: auto;
      justify-content: center;
      flex-basis: 50%;
      flex-grow: 0;
      box-sizing: border-box;
    }
    .package-history-panel + .package-history-panel {
      border-left: 1px solid black;
    }
  }
}
